params {
    // Directories
    work_dir                = "/$PWD"

    input_dir               = "data"
    input_file              = "FinalReport.txt"

    output_dir              = "${params.work_dir}/output"
    scripts                 = "${params.work_dir}/data/QC_Rscripts"
    output                  = "FinalReport"
}



profiles {
    // For execution on local machine (default)
    standard {
        process.executor = 'local'
    }

    // For execution in a Conda environment on local machine
    conda {
        process.executor = 'local'
        conda.enabled = true
        process.conda = "${params.work_dir}/envs/environment.yml"
    }

    //For execution on HPC   
    slurm {
        process.executor = ’slurm’
        process.queue = queue
    }
}



process {
    cpus = 2
    memory = '4GB'
    time = '1h'
}



report {
    enabled = true
    file = "nextflow_reports/report.html"
}
