params {
    // Directories
    work_dir                = "/$PWD"

    scripts                 = "${params.work_dir}/bin"

    input_dir_convert       = "${params.work_dir}/data"
    input_file_report       = "FinalReport.txt"
    output_dir_convert      = "${params.work_dir}/output/convert"
    output_convert          = "FinalReport.*"

    input_qc                = "${params.output_convert}"
    output_dir_qc           = "${params.work_dir}/output/QC"
    output_qc               = "${params.output}/*"
}


profiles {
    // For execution on local machine (default)
    standard {
        process.executor = 'local'
    }

    // For execution in a Conda environment on local machine
    conda {
        process.executor = 'local'
        conda.enabled = true
        process.conda = "${params.work_dir}/../envs/environment.yml"
    }

    //For execution on HPC   
    slurm {
        process.executor = 'slurm'
        process.queue = queue
    }
}


process {
    cpus = 2
    memory = '6GB'
    time = '1h'
}


report {
    enabled = true
    file = "nextflow_reports/report_${new Date().format('yyyyMMdd_HHmmss')}.html"
}
